/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }
}

// Add costom colors
:root {
    --primary-color: #7962f5;
    --secondary-color: #6379f5;
    --tertiary-color: #4f9cf9;
    --quaternary-color: #3b82f6;
    --quinary-color: #2563eb;
    --senary-color: #1d4ed8;
    --septenary-color: #1e40af;
}